@import "./basic/reset.scss";
@import "./basic/variables.scss";
@import "./basic/layout.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./newsList.scss";
@import "./singlePage.scss";
@import "./previewList.scss";
@import "./responsive.scss";

.loader {
  border: 16px solid rgba($grey, 0.5);
  border-top: 16px solid $grey;
  border-radius: 50%;
  position: absolute;
  left: calc(50vw - (15vw / 2));
  top: calc(50vh - (15vw / 2));
  width: 15vw;
  height: 15vw;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}