.single-page-container {
  max-width: 765px;
  width: 100%;
  margin: auto;
}

.single-page img {
  margin-top: 0;
  height: 179px;
  margin-bottom: 30px;
}

.single-page-title {
  font-weight: bold;
  color: #2d3748;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 40px;
}

.single-page-description {
  display: flex;
  margin-bottom: 30px;
}

.written-by {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #2d3748;
  margin-right: 20px;
}

.single-page-time {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #718096;
}

.single-page-content {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #718096;
  margin-bottom: 60px;
}